:root {
  --header-color: #757575;
  --main-title-color: #ffffff;
  --title-color: #212121;
  --main-text-color: #757575;
  --accent-color: #2196f3;
  --btn-color: #212121;
}

body {
  font-family: 'Roboto', Arial, sans-serif;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  padding-left: 0;
  margin: 0;
}
button {
  cursor: pointer;
}
img {
  display: block;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.title-text {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* ------------------Header-------------------*/
.header-logo {
  font-family: 'Raleway', Tahoma, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.logo {
  font-family: 'Raleway' Tahoma, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}
.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);
}
.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}
.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-color);
}

.header-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-color);
}
.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}

.header-mail:hover,
.header-mail:focus {
  color: var(--accent-color);
}
.link.active {
  color: var(--accent-color);
}
/* ------------------Hero--------------------*/

.hero {
  background-color: #2f303a;
  text-align: center;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-title-color);
}
.hero-btn-text {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  color: #ffffff;
  background-color: var(--accent-color);
  cursor: pointer;
}
.hero-btn-text:hover,
.hero-btn-text:focus {
  color: var(--accent-color);
  background-color: #ffffff;
}
/* ------------------Preference---------------*/

.preference-item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
}
.preference-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
/* ------------------Works---------------*/

.works-title {
  color: var(--title-color);
}
/* ------------------Team---------------*/
.team {
  background: #f5f4fa;
}
.team-title {
  color: var(--title-color);
}
.team-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
.team-item-text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
/* ------------------Footer---------------*/
.footer {
  background-color: #2f303a;
}
.footer-logo-link {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.footer-logo {
  color: #ffffff;
}

.contacts {
  font-style: normal;
}

.adress-item {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.adress-item:hover,
.adress-item:focus {
  color: #ffffff;
}
.adress {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
/* ------------------Portfolio-filters---------------*/
.filters-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  color: var(--btn-color);
  background-color: #f5f4fa;
}
.filters-btn:hover,
.filters-btn:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}
.projects-item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}
.projects-item-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}
